* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

li {
  background-color: grey;
  color: #fff;
  height: 125px;
}

li:nth-child(1) {
  background-color: gold;
}
li:nth-child(2) {
  background-color: gold;
}
li:nth-child(34) {
  background-color: gold;
}
li:nth-child(35) {
  background-color: gold;
}

@media (max-width: 1000px) {
  ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}